@font-face {
    font-family: 'Holly Berry Pop';
    src: url('/fonts/HollyBerryPop.woff2') format('woff2'),
        url('/fonts/HollyBerryPop.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Holly Berry Pop';
    src: url('/fonts/HollyBerryPop.woff2') format('woff2'),
        url('/fonts/HollyBerryPop.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvelineEleganza';
    src: url('/fonts/AvelineEleganza-Regular.woff2') format('woff2'),
        url('/fonts/AvelineEleganza-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

